<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navigator" , {title: title});-%>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

  <script>
    $(document).ready(() => {
      $("#responsibleMembers").CreateMultiCheckBox({
        width: "230px",
        defaultText: "Select Members",
        height: "250px",
      });
    });
  </script>
  <form
    method="post"
    action="/admin/update/Service/<%=current._id%>"
  >
    <label for="name">Name: </label>
    <input
      type="text"
      name="nameAZ"
      id="name"
      placeholder="AZ"
      value="<%=current.name.az%>"
    />
    <input
      type="text"
      name="nameEN"
      id="nameEN"
      placeholder="EN"
      value="<%=current.name.en%>"
    />
    <br />

    <label for="details">Details: </label>
    <input
      name="detailsAZ"
      id="details"
      placeholder="AZ"
      value="<%=current.details.az%>"
    ></input>
    <input
      name="detailsEN"
      id="detailsEN"
      placeholder="EN"
      value="<%=current.details.en%>"
    ></input>
    <br />

    <label>Old Image: </label>
    <img
      src="/uploads/<%=current.image.data%>"
      alt="new-image"
      style="border: #ffffff 1px solid"
    />
    <label for="image">New Image: </label>
    <img src="#" alt="" id="uploadedImage" />
    <input
      type="file"
      name="uploadedImage"
      accept="image/*"
      onchange="readURL(this);"
    />

    <label for="responsibleMembers">Resposible Members:</label>
    <% members.forEach((member)=>{ if
    (current.responsibleMembers.includes(member._id)){%>
    <h5><%-member.fname.en-%> <%-member.lname.en-%></h5>
    <%}});%>
    <select name="responsibleMembers" id="responsibleMembers">
      <% members.forEach((member)=>{ %>
      <option value="<%=member._id%>">
        <%-member.fname.en-%> <%-member.lname.en-%>
      </option>
      <%});%>
    </select>
    <button type="submit">Update</button>
  </form>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#uploadedImage").attr("src", e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
    $(document).ready(function () {
      $(document).on("click", ".MultiCheckBox", function () {
        var detail = $(this).next();
        detail.show();
      });

      $(document).on("click", ".MultiCheckBoxDetailHeader input", function (e) {
        e.stopPropagation();
        var hc = $(this).prop("checked");
        $(this)
          .closest(".MultiCheckBoxDetail")
          .find(".MultiCheckBoxDetailBody input")
          .prop("checked", hc);
        $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();
      });

      $(document).on("click", ".MultiCheckBoxDetailHeader", function (e) {
        var inp = $(this).find("input");
        var chk = inp.prop("checked");
        inp.prop("checked", !chk);
        $(this)
          .closest(".MultiCheckBoxDetail")
          .find(".MultiCheckBoxDetailBody input")
          .prop("checked", !chk);
        $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();
      });

      $(document).on("click", ".MultiCheckBoxDetail .cont input", function (e) {
        e.stopPropagation();
        $(this).closest(".MultiCheckBoxDetail").next().UpdateSelect();

        var val =
          $(".MultiCheckBoxDetailBody input:checked").length ==
          $(".MultiCheckBoxDetailBody input").length;
        $(".MultiCheckBoxDetailHeader input").prop("checked", val);
      });

      $(document).on("click", ".MultiCheckBoxDetail .cont", function (e) {
        var inp = $(this).find("input");
        var chk = inp.prop("checked");
        inp.prop("checked", !chk);

        var multiCheckBoxDetail = $(this).closest(".MultiCheckBoxDetail");
        var multiCheckBoxDetailBody = $(this).closest(
          ".MultiCheckBoxDetailBody"
        );
        multiCheckBoxDetail.next().UpdateSelect();

        var val =
          $(".MultiCheckBoxDetailBody input:checked").length ==
          $(".MultiCheckBoxDetailBody input").length;
        $(".MultiCheckBoxDetailHeader input").prop("checked", val);
      });

      $(document).mouseup(function (e) {
        var container = $(".MultiCheckBoxDetail");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
          container.hide();
        }
      });
    });

    var defaultMultiCheckBoxOption = {
      width: "220px",
      defaultText: "Select Below",
      height: "200px",
    };

    jQuery.fn.extend({
      CreateMultiCheckBox: function (options) {
        var localOption = {};
        localOption.width =
          options != null && options.width != null && options.width != undefined
            ? options.width
            : defaultMultiCheckBoxOption.width;
        localOption.defaultText =
          options != null &&
          options.defaultText != null &&
          options.defaultText != undefined
            ? options.defaultText
            : defaultMultiCheckBoxOption.defaultText;
        localOption.height =
          options != null &&
          options.height != null &&
          options.height != undefined
            ? options.height
            : defaultMultiCheckBoxOption.height;

        this.hide();
        this.attr("multiple", "multiple");
        var divSel = $(
          "<div class='MultiCheckBox'>" +
            localOption.defaultText +
            "<span class='k-icon k-i-arrow-60-down'><svg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='sort-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-sort-down fa-w-10 fa-2x'><path fill='currentColor' d='M41 288h238c21.4 0 32.1 25.9 17 41L177 448c-9.4 9.4-24.6 9.4-33.9 0L24 329c-15.1-15.1-4.4-41 17-41z' class=''></path></svg></span></div>"
        ).insertBefore(this);
        divSel.css({ width: localOption.width });

        var detail = $(
          "<div class='MultiCheckBoxDetail'><div class='MultiCheckBoxDetailHeader'><input type='checkbox' class='mulinput' value='-1982' /><div>Select All</div></div><div class='MultiCheckBoxDetailBody'></div></div>"
        ).insertAfter(divSel);
        detail.css({
          width: parseInt(options.width) + 10,
          "max-height": localOption.height,
        });
        var multiCheckBoxDetailBody = detail.find(".MultiCheckBoxDetailBody");

        this.find("option").each(function () {
          var val = $(this).attr("value");

          if (val == undefined) val = "";

          multiCheckBoxDetailBody.append(
            "<div class='cont'><div><input type='checkbox' class='mulinput' value='" +
              val +
              "' /></div><div>" +
              $(this).text() +
              "</div></div>"
          );
        });

        multiCheckBoxDetailBody.css(
          "max-height",
          parseInt($(".MultiCheckBoxDetail").css("max-height")) - 28 + "px"
        );
      },
      UpdateSelect: function () {
        var arr = [];

        this.prev()
          .find(".mulinput:checked")
          .each(function () {
            arr.push($(this).val());
          });

        this.val(arr);
      },
    });
  </script>
</body>
