<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navigator" , {title: title});-%>
  <form
    method="post"
    enctype="multipart/form-data"
    action="/admin/update/Partner/<%=current._id%>"
  >
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="<%=current.name%>" /> <br />

    <label for="website">Website: </label>
    <input
      type="text"
      name="website"
      id="website"
      value="<%=current.website%>"
    />
    <br />

    <label for="detail">About Partner: </label>
    <input
      type="text"
      name="detailsAZ"
      id="detail"
      placeholder="AZ"
      value="<%=current.details.az%>"
    />
    <input
      type="text"
      name="detailsEN"
      id="detailEN"
      placeholder="EN"
      value="<%=current.details.en%>"
    />
    <br />

    <label>Old Image: </label>
    <img
      src="/uploads/<%=current.image.data%>"
      alt="new-image"
      style="border: #ffffff 1px solid"
    />
    <label for="image">New Image: </label>
    <img src="#" alt="" id="uploadedImage" />
    <input
      type="file"
      name="uploadedImage"
      accept="image/*"
      onchange="readURL(this);"
    />
    <br />
    <button type="submit" class="btn btn-success">Update</button>
  </form>
  <script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $("#uploadedImage").attr("src", e.target.result);
        };
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
</body>
