<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navigator" , {title: title});-%>
  <form method="post" action="/admin/update/Partner/<%=current._id%>">
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" value="<%=current.name%>" /> <br />

    <label for="website">Website: </label>
    <input
      type="text"
      name="website"
      id="website"
      value="<%=current.website%>"
    />
    <br />

    <label for="detail">About Partner: </label>
    <input
      type="text"
      name="detailsAZ"
      id="detail"
      placeholder="AZ"
      value="<%=current.details.az%>"
    />
    <input
      type="text"
      name="detailsEN"
      id="detailEN"
      placeholder="EN"
      value="<%=current.details.en%>"
    />
    <br />

    <button type="submit" class="btn btn-success">Update</button>
  </form>
</body>
