<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navbar");-%> <%if(data[0]){%>
  <section class="about-section-1">
    <a href="/aze/about#contact" class="about-button"
      >Konsultasiya planlayırsız?</a
    >
    <%if(data[0].image){%>
    <img
      src="uploads/<%=data[0].image.data%>"
      alt="about-image"
      class="about-image"
    />
    <%}%> <%-include("partials/navigation" , {title: title});-%>
    <div class="about-content">
      <span class="about-header"><%-data[0].header.az-%></span>
      <p><%-data[0].content.az-%></p>
    </div>
  </section>
  <%}%> <%-include("partials/countries");-%> <%-include("partials/contact");-%>
  <%-include("partials/footer");-%>
</body>
