<%-include("partials/header" , {title , title});-%>

<body>
  <%-include("partials/navbar");-%>
  <section class="news-section">
    <%-include("partials/navigation" , {title: title});-%>
    <div class="news-container">
      <% const sorted_news=news.sort((objA,
      objB)=>Number(objB.date)-Number(objA.date)); %> <%
      sorted_news.forEach((new_element)=> { %>
      <div class="new">
        <div class="new-date">
          <div class="date-day"><%-new_element.date.getDate()-%></div>
          <div class="date-month">
            <%-new_element.date.toLocaleString('default', { month: 'short'
            });-%>
          </div>
          <div class="date-year"><%-new_element.date.getFullYear()-%></div>
        </div>
        <div class="new-title">
          <a href="/aze/news/<%=new_element._id%>">
            <%-new_element.title.az-%>
          </a>
        </div>
      </div>
      <%});%>
    </div>
  </section>
  <%-include("partials/footer");-%>
</body>
