<%-include("partials/header" , {title: title});-%>
<body>
  <%-include("partials/navbar");-%> <%-include("partials/map");-%>
  <%-include("partials/contact");-%> <%-include("partials/countries");-%>
  <%-include("partials/footer");-%>
</body>
